/*Fonte*/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
/*Geral*/
* {     /*Configurações gerais*/
    margin: 0;
    padding: 0;
    height: 100%;
}
body {      /*Configurações gerais do body*/
    background: #3D7B80;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    height: auto;
}
header .logoGrupo {     /*Configurações da div da logo*/
    display: flex;
    border-radius:  30px;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height:  15vh;
    background-color: #77B1A9;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
header .logoGrupo h1 {      /*Configurações do h1 da div logo*/
    font-family: 'Pixelify Sans';
    font-size: 3rem;
    height: auto;
    width: auto;
    transition: 0.3s;
}
header .opcoes {        /*Configurações do icone de opcoes*/
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background-color: #77B1A9;
    border-radius:  30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*Titulo*/

.titulo {
    display: grid;
    justify-items: center;
    align-content: center;
    margin: auto;
    border-radius: 20px;
    font-family: "Google Sans", sans-serif;
    width: 60vw;
    height: 20vh;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #77B1A9;
    transition: 0.2s;
}

/*Abas*/

.abas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #77B1A9;
    width: auto;
    height: 10vh;
    margin: auto;
    position: relative;
    margin: 3vw;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.abas div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans", sans-serif;
    background-color: #B1E6D1;
    border-radius: 15px;
    transition: 0.3s;
    width: 18vw;
    height: 6vh;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.abas p {
    height: auto;
}

